html,
body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}
ul {
    padding: 0;
    list-style: none;
}
ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left:  0;
	width: 200px;
}
.menu {
	margin-bottom:  10px;
}
.menu > li {
	position: relative;
	vertical-align: top;
	display: inline-block;
}
.menu > li:hover ul {
	display: block;
}
.menu li:hover a {
	color: red;
    text-decoration: none;
}
.barra {
    background-image: linear-gradient(to bottom. black 0%, grey 100%)
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.barra a {
    color: white;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}
.barra img {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    vertical-align: middle;
}
.logo {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 10px;
    margin-right: 10px;
    align-items: baseline;
    justify-items: center;
}
.logo li {
    display: inline-block;
    margin-right: 20px;
}
.logo a {
    color: darkred;
    font-size: 20px;
    text-decoration: none;
}
.hero {
    display: grid;
    grid-template-columns: 1fr;
    background-color: lightgray;
    border-radius: 15px;
    align-items: center;
}
h1 {
    color: darkred;
    font-size: 48px;
    text-align: center;
}
h2 {
    color: darkred;
    font-size: 36px;
    text-align: center;
}
h3 {
    color: white;
    font-size: 24px;
    text-align: center;
}
.descripcion {
    color: #333333;
    font-size: 24px;
    text-align: center;
}
.tradicion {
    color: #333333;
    font-size: 20px;
    text-align: left;
    padding: 0px;
}
.tradicion a {
    color: darkred;
    text-decoration: none;
}
.ver-productos {
    background-color: darkred;
    border-radius: 15px;
    padding: 8px;
    margin-left: 18%;
}
.ver-productos a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}
.foto-principal {
    padding: 40px;
}
.foto-principal img {
    border-radius: 15px;
    justify-items: center;
    width: 380px;
}
.secundaria {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
}
#productos {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    background-color: white;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    align-content: center;
}
#productos2 {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    background-color: white;
    padding: 10px;
    align-items: center;
    align-content: center;
    margin-left: 20px;
    margin-right: 20px;
}
.p1 {
    background-color: darkred;
    border-radius: 15px;
}
.p1 img {
    padding: 40px;
    margin: 40px;
    margin-bottom: 0;
}
.sub-producto {
    font-style: italic;
    color: white;
    font-size: 18px;
    text-align: center;
}
.precio {
    color: white;
    font-size: 21px;
    text-align: center;
}

.anadir {
    background-color: white;
    border-radius: 15px;
    padding: 8px;
    font-size: 18px;
    color: darkred;
    margin: 40px;
}
.anadir a {
    color: darkred;
    text-decoration: none;
}
footer {
    display: flex;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-top: 20px;
}
.copyright {
    font-size: 16px;
    color: lightgray;
    justify-content: flex-end;
    margin-right: 20px;
}
.subtitulo-2 {
    color: grey;
    font-size: 21px;
    text-align: center;
}
.cursiva {
    color: black;
    font-size: 18px;
    text-align: center;
}
.formulario {
    color: #333333;
    font-size: 18px;
    text-align: left;
    padding: 40px;
}
.encabezado {
    padding: 40px;
}
