/*
Media query en css
Max-width:
Min-width:
*/

@media (max-width: 900px:) {
	.class {
	background-color: blue:
}
}
@media (min-width: 901px:) {
	.class {
	background-color: green:
}
}
/*
Mobile first:
Pones valores mobile y usas solo media querys con min-width
*/

@media (min-width: 1200px:) {
	.class {
	background-color: green:
}
}
@media (min-width: 1400px:) {
	.class {
	background-color: blue:
}
}

/*
Maquetar mínimo en 480 px
Puedes hacer otra hoja de estilo solo con los media querys
Esandares:
hasta 480px mobile
hasta 990px tablet
desde 990px desktop
*/

/* 
todolo que tengas width con pixeles se forza
Se debe cambiar a porcentaje:
*/

.clase {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

/* 
En flex, para hacer salto de línea en movil, con width: 100%;

*/

/* 
Para hacer media querys en desktop 
*/
@media (min-width: 900px) {
    .clase .item {
        flex-wrap: nowrap;
    }
    .clase .img {
        width: 30%;
    }
    .clase .texto{
        flex: 1;
        width: auto;
        margin: 0;
    }
}